@charset "utf-8";
/* CSS Document */
@media(min-width:0px)and (max-width:768px){
	#banner{width:100%}
	#left{width:20%}
	#center{width:100%}
	#right{width:9%}
}
@media(min-width:768px)and (max-width:992px){
	#banner{width:100%}
	#left{width:20%}
	#center{width:100%}
	#right{width:9%}
}
@media(min-width:992px){
	#banner{width:100%}
	#left{width:20%}
	#center{width:100%}
	#right{width:9%}
}
@font-face{
	font-family: blinsithar;
	src:url("../font/Blinsithar.otf")
}
@font-face{
	font-family: SquadaOne;
	src:url("../font/SquadaOne-Regular.ttf")
}
@font-face{
	font-family: ProstoOne;
	src:url("../font/ProstoOne-Regular.ttf")
}
@font-face{
	font-family: ContrailOne;
	src:url("../font/ContrailOne-Regular.ttf")
}
@font-face{
	font-family: Anaheim;
	src:url("../font/Anaheim-Regular.ttf")
}
@font-face{
	font-family: Josefin;
	src:url("../font/JosefinSans-VariableFont_wght.ttf")
}
@font-face{
	font-family: Helvetica;
	src:url("../font/Helvetica.ttf")
}
html,body{
	margin:0;
	overflow-x: hidden
}
a{
	text-decoration: none
}
#banner{
	background-color: antiquewhite;
	height:3rem;
	width: 100%
	
	
}
#banner ul{
	margin:0;
	float:left;
	height:2rem;
	padding:1vw;
	margin-left:20%;
	width:100%
	
}
#banner oi{
	padding-left: 5%;
	font-family:ProstoOne;
	font-size: 1rem
}
#left{
	position: fixed;
	margin-left:5%;
	margin-top:8%
}
#left p{
	font-family: Anaheim;
	
}
#center{
	text-align: center;
	width:70%;
	margin-left: 15%
	
}
#center p{
	font-family:Helvetica;
	font-size: 1rem
}
.link{
	color: black
}
.link:hover{
	text-decoration: underline;
	color: darkgoldenrod
}
.link:visited{
	color: darkgoldenrod
}
.container{
	width:380px;
	height:250px;
	margin-left: 32%;
	perspective: 1000px;
	position: relative;
	margin-top:5%
}
.cards-wrap{
	position: absolute;
	width:100%;
	height:100%;
	transform-style:preserve-3d;
	transform:rotateY(0) translateZ(-700px);
	animation: carousel 20s infinite cubic-bezier(0.77,0,0.175,1);
}
.cards{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top:0;
	width:100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.cards:nth-child(1){
	transform:rotateY(0) translateZ(700px);
}
.cards:nth-child(2){
	transform:rotateY(60deg) translateZ(700px);
}
.cards:nth-child(3){
	transform:rotateY(120deg) translateZ(700px);
}
.cards:nth-child(4){
	transform:rotateY(180deg) translateZ(700px);
}
.cards:nth-child(5){
	transform:rotateY(240deg) translateZ(700px);
}
.cards:nth-child(6){
	transform:rotateY(300deg) translateZ(700px);
}
@keyframes carousel{
	0%,14%{
		transform: translateZ(-700px) rotateY(0);
	}
	28%{
		transform: translateZ(-700px) rotateY(-60deg);
	}
	43%{
		transform: translateZ(-700px) rotateY(-120deg);
	}
	57%{
		transform: translateZ(-700px) rotateY(-180deg);
	}
	72%{
		transform: translateZ(-700px) rotateY(-240deg);
	}
	86%{
		transform: translateZ(-700px) rotateY(-300deg);
	}
	100%{
		transform: translateZ(-700px) rotateY(-360deg);
	}
}
.shell{
	height:100vh;
	overflow-x: hidden;
	perspective: 3px;
}
.shell div{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	letter-spacing: 2px;
}
.image{
	transform:translateZ(-1px) scale(1.6);
	background-size: cover;
	height: 100vh;
	z-index: -1;
}
.text{
	height: 50vh;
	background-color: #fff;
	
}
.text h1{
	height:50vh;
	background-color: #000
}
.heading{
	z-index: -1;
	transform: translateY(-30vh) translateZ(1px);
	color: #fff;
	font-size: 30px
		
}
.email{
	color:burlywood
}
.email:hover{
	color:darkgoldenrod;
	text-decoration: underline
	
}
.email:visited{
	color:cadetblue
}
#foot{
	width:80%;
	margin-left: 8%;
	text-align: center;
	
}
.pichange{
	overflow: hidden;
	border:2px solid rgba(255,255,255,0);
	width:50px;
	height: 50px
	
}
.pichange img{
	border:2px solid rgba(255,255,255,0);
	
	
}
.pichange:hover img:last-child{
	display: block;
	border:2px solid rgba(255,255,255,0);
	cursor: pointer
}
.pichange:hover img:first-child{
	display: none;
	border:2px solid rgba(255,255,255,0);
	cursor: pointer
}
.pichange img:last-child{
	display: none;
	border:2px solid rgba(255,255,255,0);
	
}
.wrapper{
	margin-left: 14vw;
	margin-top:3%
}
.icon{
	width:100%;
	height:4vw;
	display: grid;
	place-items:center;
	background:linear-gradient(315deg，#fff 0%,#d7e1ec 74%)；
}
.wrapper .button1{
	height:4vw;
	width:4vw;
	float: left;
	margin:0 1vw;
	background:#fff;
	border-radius: 3vw;
	overflow: hidden;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	transition: all 0.3s ease-in-out;
}
.wrapper .button1:hover{
	width:12vw;
}
.wrapper .button1 .icon{
	display: inline-block;
	text-align: center;
	border-radius: 3vw;
	width:4vw;
	height:4vw;
	margin-top:0.5vw;
	margin-left:0.5vw
	
}
.wrapper .button1 .icon img{
	float: left;
	line-height:4vw
}
.wrapper .button1 span{
	font-size: 1.2vw;
	font-weight: 500;
	line-height: 0.2vw;
	margin-left: 4vw;
	font-family:Anaheim;
	float: left;
	margin-top: -2vw;
	height:4vw
}
#foot1{
	float: left;
	margin-left: 20%;
	font-family: Anaheim
}
#foot2{
	float: left;
	margin-left: 5%;
	font-family: Anaheim
}
#foot3{
	float:left;
	margin-left: 5%;
	font-family: Anaheim
}
